body {
  background: rgb(18, 16, 13);
  align-items: center;
  justify-items: center;
}
.container {
  height: 500px;
  width: 400px;
  justify-items: center;

  background: #3ff7f7;
}
.btn {
  background: orange;
}
.div2 {
    background-color: aliceblue;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-top: 10px;
}
#pokimonSprites{
    width: 100%;
    height: 100%;
    
}
p{
    margin-top: 10px;
    font-size: x-large;
    text-align: center;
}
